/* Search Container */
.search-container {
  margin: 40px 0 10px 0;
}

/* Name Group & Checkbox Group */
.search-container .name-container,
.search-container .checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Name Group Title  & Checkbox Group Title */
.search-container .name-title,
.search-container .checkbox-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Name Group Layout & Checkbox Group Layout */
.search-container .name-group,
.search-container .checkbox-group {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

/* Name Input */
.search-container .name-input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.search-container .error-message {
  color: red;
  font-size: 0.9rem;
  margin: 8px 0 0 0;
}

/* Checkbox Label */
.search-container .checkbox-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Dropdown Container */
.search-container .dropdown-container {
  margin: 25px 0; 
  position: relative;
}

/* Dropdown */
.search-container .dropdown-select {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  max-height: 40px;
  overflow: hidden;
}

/* Dropdown Options */
.search-container .dropdown-select option,
.search-container .dropdown-container select {
  max-height: 200px !important;
  overflow-y: auto; 
}

/* Search Button */
.search-container .search-btn {
  display: inline-block; 
  width: auto;
  min-width: fit-content; 
  max-width: 180px; 
  margin: 30px 0 20px 0;
  padding: 10px 20px; 
  font-size: 1rem; 
  border: none; 
  border-radius: 4px; 
  background-color: #2e7ed3; 
  color: white; 
  cursor: pointer; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s ease; 
}

/* Hover Effect */
.search-container .search-btn:hover {
  background-color: #37679b; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
